# VSCode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

# Binaries
bin
*.iso
*/*.iso
*.bin
*/*.bin
*.o
*/*.o
*.tar.gz
isodir/*
toolchain/build
toolchain/gcc
toolchain/binutils
toolchain/local

# Misc
*.old
*.d
*.log
